<div class="modal" id="staticPageModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel">
        <div style="width: 450px" class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Manage Pages</h4>
                </div>
                <div class="modal-body">
                    <table style="margin: 0px auto;" id="staticPageTable">
                    </table>
                    <div align="center">
                        <br/>
                        <button id="createPage" class="btn btn-primary">Create Page</button>
                    </div>
                </div>
            </div>
        </div>
</div>