@model HumanResourcesWebsite.Models.Applicant

@{
    ViewBag.Title = "DeleteApplicant";
}

<h2>DeleteApplicant</h2>

@using (Html.BeginForm())
{
    <p>Are you sure you wish to delete the applicant @Html.DisplayFor(m => m.FirstName) @Html.DisplayFor(m => m.LastName)?</p>
    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
    @Html.ActionLink("Cancel", "Applicants", "Admin", null, new { @class = "btn btn-sm btn-info" })
}