@model TravelBlogCapstone.Models.StaticPage
@{
    ViewBag.Title = "EditStatic";
}

@Html.HiddenFor(m => m.ID)

<script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
<link href="~/Styles/createPostStyles.css" rel="stylesheet" />
<link href="~/Scripts/bootstrap-tagmanager.css" rel="stylesheet" />
<script type="text/javascript">
    tinymce.init({
        selector: 'textarea',
        file_browser_callback: function(field_name, url, type, win) {
            win.document.getElementById(field_name).value = 'my browser value';
        },
        theme_advanced_resizing: true,
        theme_advanced_resizing_use_cookie: false,
        width: '100%',
        resize: 'vertical',
        theme: 'modern',
        plugins: [
            'advlist autolink autoresize lists link image charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table contextmenu directionality',
            'emoticons template paste textcolor colorpicker textpattern imagetools'
        ],
        toolbar1:
            'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        toolbar2: 'print preview media | forecolor backcolor emoticons',
        image_advtab: true,
        templates: [
            { title: 'Test template 1', content: 'Test 1' },
            { title: 'Test template 2', content: 'Test 2' }
        ],
        content_css: [
            '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
            '//www.tinymce.com/css/codepen.min.css'
        ]
    });
</script>
<form method="post" id="createPageForm">
    <div class="row">
        <div class="col-sm-7" style="padding: 0px;">
            <input type="text" id="pageTitle" name="postTitleEntry" style="width: 100%" value="@Model.Title" />
        </div>
        <div style="padding: 0px; float: right;">
            <input id="submitPage" type="submit" class="btn btn-primary btn-lg outline" />
        </div>
    </div>
    <br />
    <div class="row">
        <div>
            <textarea>@Model.PageContent</textarea>
        </div>
    </div>
    <br />
    <br />
</form>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/scripts/jquery-validate-defaults.js"></script>
    <script src="~/Scripts/scripts/CreatePostValidate.js"></script>
    <script src="~/Scripts/scripts/editPage.js"></script>

}