@model List<HumanResourcesWebsite.Models.Data.Policy>

@{
    ViewBag.Title = "ViewPolicies";
}

<div class="row">
    <div class="col-xs-12 col-sm-9">
        <h2>Policies</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-9">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Text</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

