@model HumanResourcesWebsite.Models.Applicant

@{
    ViewBag.Title = "ApplyConfirm";
}

<h2>ApplyConfirm</h2>

<p>Thanks you! Your application has been submitted successfully!</p>

@Html.ActionLink("Return to Jobs", "JobListings", "Jobs", null, new {@class = "btn btn-primary"})